.collectionDiv{
    display: flex;
    flex-wrap: wrap;
    width: 80%;


    .images{
        width: 130spx;
        height: 190px;
        padding: 0rem .3rem;

        > img{
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
    }
}